body {
    background-color: #BFCDE0;
    color: #5D5D81;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5D5D81;
    color: #ECF0F1;
}

.m-1 {
    margin: 1em;
}
.m-2 {
    margin: 2em;
}

.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 2em;
}